# vim files
*~
*.swp
*.swm
*.swn
*.swo
# latex files
*.log
*.aux
*.bbl
*.blg
thesis/bin/thesis.pdf
presentation/presentation.pdf
presentation/bin/presentation.pdf
*.nav
*.snm
*.out
*.lof
*.lot
*.toc
*.bcf
