# vim tmp files
*~
*.swp
*.swm
*.swn
*.swo

# bin directory
bin/*

# objects files
obj/*

# output files
out/*

# do not ignore .gitkeep files
!.gitkeep
#
# documentation files
*.eps
*.ps
*.aux
*.log
*.pdf
